.modal_section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #181e2578;
  /* z-index: 1; */
}
.hide {
  left: 200%;
  width: 0;
  height: 0;
  display: none;
}
.background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal_container {
  left: 50%;
  max-width: 34.72222222222222vw;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%) translateX(-50%);
}
.modal_header {
  padding: 2.05078125vh 0;
  position: relative;
  background: black;
  color: #fff;
  margin-bottom: 3.41796875vh;
}
.modal_title {
  font-weight: bold;
  font-size: 1.953125vh;
  line-height: 2.24609375vh;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.modal_content {
  padding: 0 5.208333333333333vh;
}
.modal_close {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  color: #fff;
}

/* Input Field and Label */
.form_wrapper .input_group {
  margin-bottom: 2.34375vh !important;
}

.form_wrapper .input_field_label {
  font-size: 1.3671875vh;
  font-weight: 700;
  line-height: 1.7578125vh;
  margin-bottom: 0.9765625vh;
  display: block;
}

.form_wrapper .input_field,
.form_wrapper .select_field {
  font-size: 1.3671875vh;
  font-weight: 400;
  line-height: 1.7578125vh;
  padding: 1.07421875vh 1.111111111111111vw;
  border: 1px solid #949494;
  display: block;
  width: 100%;
}

.form_wrapper .select_field {
  background-image: url(../../Assets/Icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 1.953125vh 1.388888888888889vw;
  background-position: right 1.5625vh center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_wrapper .select_field:focus-visible {
  outline: none;
}

/* Isa design */
.form_wrapper .input_contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.form_wrapper .input_contents .input_group {
  flex: 0 0 48%;
  width: 48%;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  min-height: 0.09765625vh;
  overflow: hidden;
  /* position: absolute; */
  margin: 3px 3px 3px 4px;
  white-space: nowrap;
  width: 0.0694444444444444vw;
}

input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  min-height: 0.09765625vh;
  overflow: hidden;
  /* position: absolute; */
  margin: 3px 3px 3px 4px;
  white-space: nowrap;
  width: 0.0694444444444444vw;
}
.checkbox_group {
  display: flex;
  align-items: center;
}
.checkbox_group .input_field_label {
  padding: 1.07421875vh 0;
  padding-right: 0.2777777777777778vw;
}
.checkmark {
  position: absolute;
  left: 0;
  border: 1px solid;
}
.checkbox {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: #fff;
  border: 2px #ddd solid;
  margin-right: 0.2777777777777778vw;
}

.checkbox--active {
  border-color: black;
  background: black;
}
.chackbox_container {
  font-size: 1.5625vh;
  line-height: 1.7578125vh;
  color: #202020;
  display: block;
  position: relative;
  padding-left: 2.430555555555556vw;
  margin-bottom: 1.171875vh;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.chackbox_container .checkmark {
  width: 18px;
  height: 18px;
  border-radius: 0.2777777777777778vw;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
}

.chackbox_container .checkmark:after {
  left: 0.3472222222222222vw;
  top: 0;
}
.chackbox_container> input:checked ~ .checkmark:after {
  display: block;
}
.chackbox_container> input:checked ~ .checkmark {
  background-color: black;
}
.chackbox_container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* input file */
#file[type="file"] {
  display: none;
}
.label-holder {
  width: 100%;
  min-height: 9.765625vh;
  display: grid;
  place-items: center;
}
.label {
  width: 100%;
  padding: 4.78515625vh 0;
  background: linear-gradient(
      to right,
      rgb(5, 5, 5) 50%,
      rgba(255, 255, 255, 0) 0%
    ),
    linear-gradient(rgb(2, 2, 2) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 17px 1px, 1px 17px;

  background-color: #f1f1f1;
  color: #949494;
  display: grid;
  place-items: center;
  font-weight: normal;
  font-size: 1.3671875vh;
  line-height: 1.7578125vh;
  cursor: pointer;
}

.result {
  min-height: 100%;
  margin-top: 2.1484375vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin-left: -0.6944444444444444vw;
  margin-right: -0.6944444444444444vw;
}

.field_imglist {
  flex: 0 0 25%;
  width: 25%;
  padding-left: 0.6944444444444444vw;
  padding-right: 0.6944444444444444vw;
}

.input_img {
  width: 100%;
  height: 7.03125vh;
  border: 1px solid #000;
  object-fit: cover;
  padding: 1.66015625vh 1.180555555555556vw;
  margin-bottom: 1.26953125vh;
}
.input_group .cancel,
.input_group .submit {
  padding: 1.46484375vh 1.041666666666667vw;
  width: 100%;
  border: none;
  display: inline-block;
  font-weight: bold;
  font-size: 1.46484375vh;
  line-height: 1.66015625vh;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.input_group .submit {
  background: #000;
  color: #fff;
}

/* view_modal */

.pd_info_view ul li:not(:last-child) {
  margin-bottom: 2.34375vh;
}
.pd_info_view ul {
  padding-bottom: 5.6640625vh;
}

.pd_info_view ul li p {
  font-weight: 500;
  font-size: 1.5625vh;
  line-height: 1.7578125vh;
  text-transform: uppercase;
  color: #6b6b6b;
  margin-bottom: 0.87890625vh;
}

.pd_info_view ul li h6 {
  font-weight: normal;
  font-size: 1.7578125vh;
  line-height: 1.7578125vh;
  color: #1e1e1e;
}
.pd_info_view .view_modal_imgtag {
  font-weight: 500;
  font-size: 1.5625vh;
  line-height: 1.7578125vh;
  color: #202020;
  margin-bottom: 1.07421875vh;
}

.image_content {
  width: 100%;
  min-height: 31.54296875vh;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-items: center;
}
.image {
  margin: 0 auto;
}
.pd_info_view .result .field_imglist {
  flex: 0 0 33.33333333333333%;
  width: 33.33333333333333%;
}
.pd_info_view .input_img {
  height: auto;
}
.pd_info_view .ulcol {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.90625vh;
}
/* .pd_info_view .ulcol .ulcol1,
.pd_info_view .ulcol .ulcol2{
  flex: 0 0 50%;
  width: 50%;
} */

/* Order details */
.order_complete {
  /* max-width: 589px; */
  width: 100%;
}
.order_complete .order_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5.859375vh;
}
.order_complete .order_tag .order_complete_btn {
  width: 10.76388888888889vw;
  padding: 1.171875vh 0;
  font-weight: bold;
  font-size: 1.46484375vh;
  line-height: 1.66015625vh;
  text-align: center;
  text-transform: uppercase;
  color: #202020;
  border: 2px solid #202020;

}

.order_complete .order_complete_title,
.order_complete .order_complete_list_content {
  padding-bottom: 3.22265625vh;
}

.order_complete .order_complete_list_content:last-child {
  padding-bottom: 4.78515625vh;
}
.order_complete .order_complete_list_header,
.order_complete .order_complete_list_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_complete .order_list_title {
  flex: 0 0 20%;
  width: 20%;
}
.order_complete .order_list_title:last-child h3 {
  text-align: end;
}
.order_complete .order_list_text {
  flex: 0 0 20%;
  width: 20%;
}
.order_complete .order_list_text:not(:first-child) h3 {
  text-align: center;
}
.order_complete .order_list_text:last-child h3 {
  text-align: end;
}
.order_complete .order_list_title:first-child h3 {
  text-align: start;
}
.order_complete .order_list_title h3 {
  font-weight: 500;
  font-size: 1.5625vh;
  line-height: 2.1484375vh;
  text-transform: uppercase;
  color: #8d8d8d;
  text-align: center;
}

.order_complete .order_list_text .order_id,
.order_complete .order_list_text .order_quantity,
.order_complete .order_list_text .order_price {
  font-weight: 500;
  font-size: 1.7578125vh;
  line-height: 2.05078125vh;
  color: #1e1e1e;
}

/* .order_complete .order_list_text .order_price {
  letter-spacing: -0.02em;
  font-weight: 400;
} */

.order_complete .sub_total .order_price,
.order_complete .delivery_fee .order_price,
.order_complete .grannd_tital .order_price {
  font-weight: 400;
  font-size: 1.7578125vh;
  line-height: 2.05078125vh;
  color: #1e1e1e;
}

.order_complete .sub_total h3,
.order_complete .delivery_fee h3,
.order_complete .grannd_tital h3 {
  font-weight: 500;
  font-size: 1.5625vh;
  line-height: 2.1484375vh;
  color: #8d8d8d;
}

.order_complete .sub_total,
.order_complete .delivery_fee,
.order_complete .grannd_tital {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #1f1f1f33;
}
.order_complete .sub_total {
  padding-top: 2.34375vh;
  padding-bottom: 2.34375vh;
}
.order_complete .delivery_fee {
  padding-top: 2.34375vh;
  padding-bottom: 2.34375vh;
}
.order_complete .grannd_tital {
  padding-top: 2.34375vh;
  padding-bottom: 2.34375vh;
  border-color: #1e1e1e;
}
.order_complete .grannd_tital h3 {
  color: #1e1e1e;
}
.order_complete .grannd_tital .order_price {
  font-weight: 700;
}
